
@{
    ViewBag.Title = "Index Page";
}

<p> click "Form" to begin.</p>

<div class="text-center">
    <div class="centerContent">
        <h2>Thank you.</h2>

        <strong class="text textPlain">Name</strong> : @ViewData["Name"]<br />
        <strong class="text textPlain">Email</strong> : @ViewData["Email"]<br />
        <strong class="text textPlain">Card</strong> : @ViewData["Card"]<br />
    </div>
</div>
<p class="disclaimer">This page exists solely to confirm that the model has been updated, for obvious reasons, the users data would not normally be displayed after submission. When finished this data will instead be sent via email to test@dn-uk.com.</p>
